/*src/assets/styles/helpers/_media.scss*/

@use './functions' as *;

$desktop: 1439.98;
$laptop: 1279.98;
$tablet: 767.98;

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin desktop-above {
  @media (width > rem($desktop)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}
