@use '../helpers/media' as *;
@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;

.footer {
  display: flex;
  justify-content: center;
  height: rem(24);
  background-color: var(--primary-black);

  margin-bottom: rem(80);

  @include tablet-above {
    margin-bottom: rem(100);
  }

  @include laptop-above {
    margin-bottom: rem(100);
  }

  @include desktop-above {
    margin-bottom: rem(100);
  }

  &__skeleton {
    display: flex;
    justify-content: center;
    width: 100%;

    &-item {
      background-color: var(--primary-dark-gray);
      width: 228px;
      height: 24px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(10);
      color: var(--primary-light-gray);

      & > .footer__nav-item {
        display: flex;
        background-color: var(--primary-black);
        justify-content: center;
        align-items: center;
        padding-top: rem(2);
        padding-bottom: rem(2);
        cursor: pointer;
        @include square(rem(20));

        @include hover {
          background-color: var(--primary-dark-gray);
        }
      }

      & > .footer__nav-numbers {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-black);
        color: var(--primary-light-gray);
        font-size: 16px;
        font-family: 'Inter', serif;
        font-weight: 300;
        cursor: pointer;
        @include square(rem(24));

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: transparent;
          transition: background-color 0.2s;
        }
        @include hover {
          &::after {
            background-color: var(--primary-dark-gray);
          }
        }

        &-active {
          border-radius: rem(4);
          background-color: var(--primary-dark-gray);
          font-family: 'Inter', serif;
          font-weight: 500;

          @include hover {
            &::after {
              background-color: transparent;
            }
          }
        }
      }

      & > .footer__nav-points {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-black);
        color: var(--primary-light-gray);
        width: rem(24);
      }
    }
  }
}

.img {
  filter: invert(1);
}
