/*src/assets/styles/blocks/_main.scss*/

@use '../helpers/media' as *;
@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;

.homeheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(64);

  &__logo {
    height: rem(16);
    width: rem(73);
    filter: invert(0);

    @include desktop-above {
      height: rem(20);
      width: rem(91);
    }
  }

  &__conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    @include circle(40px, 40px);
    background-color: var(--secondary-black);

    @include hover {
      background-color: var(--change-black);
    }
  }

  &__icon {
    height: rem(20);
    width: rem(20);
    filter: invert(0);
  }
}
