/*src/assets/styles/blocks/_main.scss*/

@use '../helpers/media' as *;
@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-top: rem(27);
  margin-bottom: rem(32);
  min-height: calc(100vh - rem(147));

  @include tablet-above {
    gap: rem(20);
    margin-top: rem(44);
    margin-bottom: rem(40);
    min-height: calc(100vh - rem(180));
  }

  @include laptop-above {
    gap: rem(20);
    margin-top: rem(44);
    margin-bottom: rem(40);
    min-height: calc(100vh - rem(180));
  }

  @include desktop-above {
    gap: rem(20);
    margin-top: rem(44);
    margin-bottom: rem(40);
    min-height: calc(100vh - rem(180));
  }

  &__container {
    @include tablet-above {
      display: flex;
      justify-content: flex-end;
    }

    @include laptop-above {
      display: flex;
      justify-content: flex-end;
    }

    @include desktop-above {
      display: flex;
      justify-content: flex-end;
    }

    &-div {
      position: relative;

      &-search {
        position: absolute;
        padding-left: rem(16);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        filter: invert(1);
      }

      &-input {
        height: rem(33);
        width: 100%;
        padding-left: rem(48);
        padding-right: rem(16);
        color: var(--primary-light-gray);
        font-size: 12px;
        background-color: var(--secondary-black);
        border-radius: rem(5);
        font-family: 'Inter', serif;
        font-weight: 300;

        @include tablet-above {
          width: rem(296);
          height: rem(36);
        }

        @include laptop-above {
          width: rem(336);
        }

        @include desktop-above {
          width: rem(336);
        }

        &::placeholder {
          font-family: 'Inter', serif;
          font-weight: 300;
          color: var(--secondary-gray);
          size: rem(12);
          @include responsive-font(14);
          opacity: 1;
        }
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(20);

  @include tablet-above {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);
  }

  @include laptop-above {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(32);
  }

  &__notCards {
    display: flex;
    flex-direction: column;
    margin-top: rem(60);

    &-h1 {
      display: flex;
      gap: rem(5);
      font-family: 'Inter', serif;
      font-weight: 500;
      color: var(--primary-light-gray);

      font-size: rem(16);
      @include responsive-font(20);
    }

    &-span {
      color: var(--primary-white);
      font-family: 'Inter', serif;
      font-weight: 700;

      font-size: rem(16);
      @include responsive-font(20);
    }

    &-p {
      color: var(--secondary-gray);
      font-family: 'Inter', serif;
      font-weight: 300;

      font-size: rem(14);
      @include responsive-font(18);
    }
  }
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: transform 0.5s ease;

  @include hover {
    transform: scale(1.05);
    .card__title,
    .card__year {
      transition:
        transform 0.5s ease,
        opacity 0.5s ease;
      transform: translateY(300%);
      opacity: 0;
    }

    .card__author,
    .card__location {
      transition:
        transform 0.5s ease,
        opacity 0.5s ease;
      transform: translateX(0%);
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;

    &.skeleton-img {
      background-color: var(--primary-dark-gray);
      border-radius: 0%;
      width: 100%;
      aspect-ratio: 3/2;
    }
  }

  &__info {
    position: absolute;
    overflow: hidden;
    display: flex;
    gap: rem(12);
    left: 0;
    bottom: 0;
    height: 25%;
    width: 85%;
    background-color: var(--primary-black);
    transition: var(--transition-duration);

    &.skeleton-info {
      background-color: var(--primary-dark-gray);
      border: 1px solid var(--primary-black);
      width: 85%;
      height: 25%;
    }
  }

  &__lateral {
    @include desktop-above {
      position: relative;
      width: 1px;
      height: 100%;

      &-line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 45%;
        transform: translateY(-50%);
        background-color: var(--accent-gold);
      }
    }
  }

  &__text {
    position: relative;
    width: 100%;
    height: 100%;

    > div {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  &__title {
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    color: var(--primary-light-gray);
    font-size: 12px;
    @include responsive-font(16);
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    opacity: 1;
  }

  &__year {
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    color: var(--accent-gold);
    font-size: 8px;
    @include responsive-font(12);
    font-family: 'Inter', serif;
    font-weight: 700;
    opacity: 1;
  }

  &__author {
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    color: var(--primary-light-gray);
    font-size: 12px;
    transform: translateX(-100%);
    @include responsive-font(16);
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    opacity: 0;
  }

  &__location {
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    color: var(--accent-gold);
    font-size: 8px;
    transform: translateX(-100%);
    @include responsive-font(12);
    font-family: 'Inter', serif;
    font-weight: 700;
    opacity: 0;
  }
}
