/*src/assets/styles/_globals.scss*/

@use 'helpers' as *;

html,
body {
  height: 100%;
}

::selection {
  color: #ffffff;
  background-color: #3390ff;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  
}

body[data-theme='light'] {
  background-color: var(--primary-white);
}

#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 rem(20);

  @include desktop-above {
    margin: 0 rem(100);
  }
}
