/*src/assets/styles/_variables.scss*/

@use 'helpers' as *;

:root {
  --primary-white: #ffffff;
  --primary-black: #121212;
  --primary-light-gray: #dedede;
  --primary-dark-gray: #575757;

  --secondary-white: #fcfcfc;
  --secondary-black: #1a1818;
  --secondary-gray: #9c9c9c;

  --accent-red: #9b4b4b;
  --accent-gold: #ab8956;

  --change-black: #1b1b1b;
  --change-white: #f3f3f3;

  --border: #{rem(1)} solid var(--color-dark-15);

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Kumbh Sans', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;
}
